# generate and customize your token here
# https://github.com/settings/tokens
#
:credentials:
  :access_token: my-oath-tokens
:logging: false
:build_server: https://build.opensuse.org
:build_server_project_integration_prefix: OBS:Server:Unstable:TestGithub:PR
